section {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2vh;
  margin-bottom: 10vh;
}

h1 {
  font-size: xx-large;
  font-weight: bold;
}

h2 {
  font-size: x-large;
  font-weight: bold;
}

section a {
  border-bottom: 2px solid;
  border-color: inherit;
}

section a :hover {
  color: var(--primary);
  border-color: var(--primary);
}
